[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python main.py"

[packages]

[dev-packages]
autopep8 = "==1.5.7"
flake8 = "==3.9.2"

[requires]
python_version = "3.8"
